h1 {
    border: 25px;
    background-color: #5eff00;
    padding: 25px;
    font-weight: bold;
    color: blue;
    font-size: 30;
    width: 400px;
    box-shadow: 10px 10px 10px #180202; 
    border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
}

h2 {
    color: blue;
    border: 25px;
    background-color: #5eff00;
    font-size: 23;
    width: 400px;
    box-shadow: 10px 10px 10px #180202; 
    border-radius: 10px;
    border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
}

body {
background-color: rgb(55, 190, 170)}


    


p {
    color: blue;
font-size: 19px;
}

nav li {
    color: blue;
    border: 1px solid black;
    background-color: #5eff00;
    width: 175px;
    margin: 12px;
    display: inline-block;
    font-size: 23px;
    box-shadow: 10px 10px 10px #180202; 
    border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
}
nav li a {
    display: block;
    padding: 10px;
}
a {
    text-decoration: none;
  }
  
.img1 {
    width: 350px;
    height: 550px;
}

.img2 {
    width: 300px;
    height: 425px;
}

.img3 {
    width: 300px;
    height: 425px;
}

.img4 {
    width: 250px;
    height: 425px;
}

.img5 {
    width: 300px;
    height: 425px;
}

.img6 {
    width: 350px;
    height: 425px;
}

.img7 {
    width: 300px;
    height: 425px;
}

.img8 {
    width: 300px;
    height: 425px;
}






